@import 'variables';
@import 'mixins';
@import 'media';
@import 'reset';
@import 'typography';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 70px 24px;
  box-sizing: border-box;
  background: $lightGray;
}

main {
  position: relative;
  @include screen-desktop {
    height: 90vh;
  }
}

.container {
  @include screen-desktop {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
  }
}

.grid {
  @include screen-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px 30px;
    height: 60vh;
  
  }
}

.card {
  padding: 23px 32px 48px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px;
  position: relative;
  z-index: -1;
  margin-bottom: 20px;

  @include screen-desktop {
    padding: 26px 32px;
  }

  &_header {
    display: flex;
    align-items: center;
    color: $white;
    margin-bottom: 18px;

    &_image {
      border-radius: 50%;
      width: 28px;
      margin-right: 17px;
    }

    &_name {
      margin: 4px;
    }

    &_graduate {
      margin-top: 4px;
      font-size: 11px;
      opacity: 50%;
    }

  
  }

  #quotes {
    position: absolute;
    right: 48px;
    top: 0;
    z-index: -1;
  }

  &_body {
    &_main {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      line-height: 24px;

      @include screen-desktop {
        margin-bottom: 16px;
      }
    }

    &_paragraph {
      line-height: 18px;
      opacity: 70%;
    }
  }
}

.card_header_image {
  border: 2px solid $moderateVioletBacking;
}

#a {
  background: $moderateViolet;

  * {
    @include textIsWhite($background: false);
  }

  @include screen-desktop {
    grid-column: 1 / span 2;
  }
}

#b {
  background: $veryDarkGrayishBlue;

  * {
    @include textIsWhite($background: false);
  }

  @include screen-desktop {
    grid-column: 3 / span 1;
  }
}
#c {
  background: $white;

  * {
    @include textIsWhite($background: true);
  }

  @include screen-desktop {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

#d {
  background: $veryDarkBlackishBlue;

  * {
    @include textIsWhite($background: false);
  }

  @include screen-desktop {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
}

#e {
  background: $white;

  * {
    @include textIsWhite($background: true);
  }

  @include screen-desktop {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: -80px;
  @include screen-desktop {
  bottom: 0;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
